<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= first_name %>'s Profile</title>
        <link rel="stylesheet" href="/static/css/profile.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    </head>
    <body>
        <div class="navbar-top">
            <div class="title">
                <h1>My Profile</h1>
            </div>

            <ul>
                <li>
                    <a href="#notification">
                        <span class="icon-count">1</span>
                        <i class="fa fa-bell fa-2x" onclick="alert('Your signup bonus $10 has been credited.')"></i>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out-alt fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Sidenav -->
        <div class="sidenav">
            <div class="profile">
                <img src="/static/img/logo.png" alt="" width="100" height="100" />

                <div class="name"><%= first_name %></div>
            </div>

            <div class="sidenav-url">
                <div class="url">
                    <a href="/profile/" class="active">Profile</a>
                    <hr align="center" />
                </div>
                <div class="url">
                    <a href="/currency-exchange">Currency Exchange</a>
                    <hr align="center" />
                </div>
            </div>
        </div>
        <!-- End -->

        <!-- Main -->
        <div class="main">
            <h2>My Profile</h2>
            <div class="card">
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>First Name</td>
                                <td>:</td>
                                <td><%= first_name %></td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>:</td>
                                <td><%= last_name %></td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td>:</td>
                                <td><%= username %></td>
                            </tr>
                            <tr>
                                <td>INR Amount</td>
                                <td>:</td>
                                <td>Rs. <%= INR %></td>
                            </tr>
                            <tr>
                                <td>USD Amount</td>
                                <td>:</td>
                                <td>$ <%= USD %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2>SOCIAL MEDIA</h2>
            <div class="card">
                <div class="card-body">
                    <div class="social-media">
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-invision fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End -->
    </body>
</html>
